#Bg {
    background-color: #f23f21;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 900;
}

#logotgh{
    position : absolute;
    top : 14px;
    bottom : 9px;
    right : 628.75px;
    left : 674.5px;
    display : block;
    height : 27px;
    width : 91.5px;
    margin : 0 0 0 -46px;
    height : 27px;
    width : 91.5px;
    margin : 0 0 0 -46px;
}

#A {
    width: 100px;
}

#B {
    border-radius: 3px;
    font-size: 14px;
    line-height: 1em;
    background: #fff;
    color: #e74c3c;
    text-decoration: none;
}
#bungkus {
    overflow: hidden;
    height: 650px;
    background-image: url("assets\img\wood.jpg");
}
#form {
    width: 400px;
    max-width: 540px;
    margin: 30px auto 50px;
    box-shadow: 0 0 6px rgba(0,0,0,.25);
    border-radius: 4px;
    margin-top: 100px;
    background: #f5f5f5;
    border-bottom: 1px solid #e6e6e6;
    padding: 20px 50px;
    margin: 0 -50px 30px;
}
body {
    background-image: url("assets/img/wood.jpg");

}