body {
    overflow: scroll;
}

#Bg {
    background-color: #f23f21;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 900;
}

#logotgh{
    position : absolute;
    top : 14px;
    bottom : 9px;
    right : 628.75px;
    left : 674.5px;
    display : block;
    height : 27px;
    width : 91.5px;
    margin : 0 0 0 -46px;
    height : 27px;
    width : 91.5px;
    margin : 0 0 0 -46px;
    width: 100px;
}


#B {
    font-family : "Open Sans", helvetica, sans-serif;
    font-size : 14px;
    font-weight : 700;
    line-height : 14px;
    text-align : center;
    background-color :  #FFFFFF;
    color: #f23f21;
    padding : 6px 8px 6px 8px;
}

#C {
    font-family : "Open Sans", helvetica, sans-serif;
    font-size : 13px;
    font-weight : 600;
    line-height : 19.6px;
    text-decoration : underline solid rgb(255, 255, 255);
    color :  #FFFFFF;
    height : 31px;
    width : 73.5313px;
    padding : 6px 8px 6px 16px;
}

#bungkus {
    overflow: hidden;
    background-image: url("assets\img\wood.jpg");
}

#form {
    width: 400px;
    max-width: 540px;
    box-shadow: 0 0 6px rgba(0,0,0,.25);
    border-radius: 4px;
    margin-top: 100px;
    background: #f5f5f5;
    border-bottom: 1px solid #e6e6e6;
    padding: 20px 50px;
    background-color: #FFFFFF;
    width : 540px;

}
body {
    background-image: url("../assets/img/wood.jpg");

}

h1 {
    font-family : "Open Sans", helvetica, sans-serif;
    font-size : 28px;
    font-weight : 300;
    line-height : 39,2px;
    text-decoration : none solid rgb(75, 82, 91);
    text-align : center;
}

#register{

    height : 63px;
    width : 540px;
    padding : 20px 50px 20px 50px;
    margin-top: -4.6%;
    margin-left: -11.3%;
}



#label {
    font-family : "Open Sans", helvetica, sans-serif;
    font-size : 14px;
    letter-spacing : 1.4px;
    line-height : 19.6px;
    text-transform : uppercase;
    background-color :  #FFFFFF;
    color : #9098A5;
    margin-left: 4%;
    margin-top: -6%;
}

#label2 {
    font-family : "Open Sans", helvetica, sans-serif;
    font-size : 14px;
    letter-spacing : 1.4px;
    line-height : 19.6px;
    text-transform : uppercase;
    background-color :  #FFFFFF;
    color : #9098A5;
    margin-left: 32%;
    margin-top: -6%;
}

#label3 {
    font-family : "Open Sans", helvetica, sans-serif;
    font-size : 14px;
    letter-spacing : 1.4px;
    line-height : 19.6px;
    text-transform : uppercase;
    background-color :  #FFFFFF;
    color : #9098A5;
    margin-left: 1%;
    margin-top: -6%;
}

#buton {
    margin-top: -10%;
    margin-left: 50%;
    font-family : "Open Sans", helvetica, sans-serif;
    font-size : 14px;
    font-weight : 600;
    line-height : 14px;
    text-align : center;
    background-color :  #3498DB;
    color :  #FFFFFF;
    height : 41.2847px;
    width : 220px;
    padding : 13px 16px 13px 16px;
}

#formemail {
    padding-top: 10%;
    margin-left: -3%;

}

.form-control {
    width : 440px;
    height: 48px;
    border : 1px solid  #9FA4AA;
    margin : 0 0 10px 0;
    padding : 8px 10px 8px 10px;
}

#lastname {
    position: relative;
    left: 4.5%;
}
